* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 10px;
  background-color: #0B2434;
}
main{
  background-color: #F5F5F5;
  max-height: 600px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.container{
  background-color: lightblue;
  margin: auto 10% auto 30%;
}
.dice{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr); 
  gap: 20px;
}
.die{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.die--number{
  font-weight: bold;
  font-size: 2rem;
}
.die--true{
  background-color: #59E391;
}
.die--button{
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}
.die--button:focus{
  outline: none;
}
.die--button:active, .die:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
